<ul class="cards shared" data-deck_id="<%= @deck.id %>">
  <% @cards.each do |card| %>
    <% if card.bin == 'main' %>
      <%= render :partial => 'cards/card', :locals => { :deck => @deck, :card => card } %>
    <% end %>
  <% end %>
</ul>

<div id="bin" class="shared">
  <h2>Memorized Pile</h2>
  <% @cards.each do |card| %>
    <% if card.bin == 'bin' %>
      <%= render :partial => 'cards/card', :locals => { :deck => @deck, :card => card } %>
    <% end %>
  <% end %>
</div>
