<figure>
  <%= image_tag 'decks.png', :class => 'marketing-image' %>
  <figcaption><p>Organize flashcards by deck. Make as many decks as you want, and share them with your friends.</p></figcaption>
</figure>
<figure>
  <%= image_tag 'deck-french.png', :class => 'marketing-image' %>
  <figcaption><p>Click to flip, click and hold to flip all, and stash memorized cards until you've gotten them all.</p><p><a class="try" href="/french-demo">Try this deck &rarr;</a></p></figcaption>
</figure>
<figure>
  <%= image_tag 'deck-arth.png', :class => 'marketing-image' %>
  <figcaption><p>Cards can contain text or images on either side.</p><p><a class="try" href="/arth-demo">Try this deck &rarr;</a></p></figcaption>
</figure>

<footer>
  <p>Made by <a href="http://ehmorris.com">ehmorris</a> - follow me on <a href="http://twitter.com/ehmorris">twitter</a>.</p>
</footer>
