<%= form_for [deck, card], :html => { :class => 'card-form' }, :remote => true do |form| %>
  <div class="entries">
    <%= form.hidden_field :front, :placeholder => 'Front - to use an image, paste in the url' %>
    <%= form.hidden_field :back, :placeholder => 'Back - to use an image, paste in the url' %>
  </div>
  <%= form.submit :value => 'New card', :class => 'new-card-button' %>
<% end %>
