// colors

$dark: #333;
$gray: #666;
$red: #ff0000;

$melongreen: #83EC8C;
$blue: hsl(229, 73%, 72%);
$pink: #EC839F;

$off-white: #FFFEF7;

// type

$sans: "Oswald", sans-serif;
$mono: "PT Mono", monospace, sans-serif;

// other

$card-size: 200px;
$smallandtouch: max-width 42em;
