%animation-slide-entry {
  @include animation(slide-entry 0.2s $ease-out-sine);
  @include animation-fill-mode(both);
}
@mixin slide-entry {
  0% {
    right: 100%;
  }
  100% {
    right: 0;
  }
}
@-webkit-keyframes slide-entry { @include slide-entry; }
   @-moz-keyframes slide-entry { @include slide-entry; }
        @keyframes slide-entry { @include slide-entry; }




%animation-fade-in {
  @include animation(fade-in .3s $ease-out-sine);
  @include animation-fill-mode(backwards);
}
@mixin fade-in {
  0% {
    margin-bottom: 75px;
    margin-top: -50px;
    opacity: 0;
  }
  100% {
    margin-bottom: 25px;
    margin-top: 0;
    opacity: 1;
  }
}
@-webkit-keyframes fade-in { @include fade-in; }
   @-moz-keyframes fade-in { @include fade-in; }
        @keyframes fade-in { @include fade-in; }




%animation-background-cycle {
  @include animation(background-cycle 100s $ease-out-sine);
  @include animation-fill-mode(both);
  @include animation-iteration-count(infinite);
}
@mixin background-cycle {
  0% {
    background: darken($melongreen, 5%);
  }
  10% {
    background: lighten($melongreen, 5%);
  }
  20% {
    background: $melongreen;
  }
  30% {
    background: darken($blue, 10%);
  }
  40% {
    background: lighten($melongreen, 5%);
  }
  50% {
    background: $pink;
  }
  60% {
    background: lighten($pink, 5%);
  }
  70% {
    background: lighten($melongreen, 5%);
  }
  80% {
    background: $blue;
  }
  90% {
    background: lighten($blue, 5%);
  }
  100% {
    background: darken($melongreen, 5%);
  }
}
@-webkit-keyframes background-cycle { @include background-cycle; }
   @-moz-keyframes background-cycle { @include background-cycle; }
        @keyframes background-cycle { @include background-cycle; }
