// colors

$dark: #333;
$gray: #666;
$red: #ff0000;

$melongreen: #83EC8C;
$blue: #8396EC;
$pink: #EC839F;

// type

$sans: "Oswald", sans-serif;
$mono: "PT Mono", monospace, sans-serif;

// other

$card-size: 200px;
$smallandtouch: max-width 42em;
