body {
  font-family: $helvetica;
  font-size: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.wrapper {
  margin: auto;
  padding: 0 4em;

  @include media($smallandtouch) {
    padding: 0 20px;
  }
}

header {
  display: block;
  margin: 0;
  overflow: visible;

  h1 {
    margin: 0;
    padding: 1.5em 0 2em;

    img.logo {
      margin: 0;
    }

    a.logo {
      position: relative;

      &:after {
        content: '';
        display: block;
        height: 100px;
        @include linear-gradient(top, #e0e0e0, #f0f0f0);
        @include position(absolute, -40px 0 0 0);
        @include transform(perspective(150) rotate3d(2, 1, 2, 40deg));
        @include transition;
        width: 100px;
        z-index: -1;
      }

      &:hover:after {
        @include transform(perspective(150) rotate3d(1, 1, 2, 0deg));
      }
    }

    a, a:link, a:visited {
      color: #000;
      margin: 0;
    }

    span {
      font-weight: normal;
    }
  }
}

figure {
  margin: 0;
}

div.notice {
  background: rgb(255, 253, 200);
  border: none;
  border-radius: 0;
  color: rgb(90, 89, 53);
  display: block;
  line-height: 1.4em;
  margin-bottom: 2em;
  padding: 1em;
  text-align: center;
}

footer {
  clear: both;
  display: block;
  padding: 2em 0;

  p {
    font-size: 80%;
    line-height: 1em;
    margin: 0;
  }
}

form.vertical {
  input {
    @include box-sizing(border-box);
    display: block;
    margin-bottom: .5em;
    width: 100%;
  }

  input[type="submit"] {
    @include button(shiny, lighten($dark, 20%));
    font-size: 100%;
  }
}
