.decks {
  @extend %cards-bincards-decks-shared;

  li {
    @extend %animation-fade-in;
    overflow: visible;
    margin-right: 25px;

    $t: 0.1s;
    $delay: $t;
    @for $child from 1 through 20 {
      &:nth-child(#{$child}) {
        @include animation-delay($delay);
      }
      $delay: $delay + $t;
    }

    &.create-deck {
      background: $red;
      border: 1px solid #fff;
      @include box-sizing(border-box);
      color: #fff;
      padding: 1em;
      position: relative;
      text-align: center;

      &+ li {
        clear: both;
      }

      textarea {
        background: transparent;
        border: 0;
        @include box-sizing(border-box);
        color: #fff;
        margin: 0;
        padding: 0;
        @include position(absolute, 1em 1em 4em 1em);
        text-align: left;

        @include placeholder {
          color: rgba(255, 255, 255, .8);
        }

        @include media($smallandtouch) {
          height: 3em;
        }
      }

      input[type=submit] {
        display: inline-block;
        margin-top: $card-size - 70px;
      }
    }

    > a {
      background: $gray;
      border: 1px solid #fff;
      bottom: 0;
      @include box-sizing(border-box);
      color: #fff;
      left: 0;
      padding: 1em;
      position: absolute;
      right: 0;
      top: 0;
    }

    // stack effect
    &.deck::after, &.shared::after {
      background: lighten($gray, 20%);
      bottom: 0;
      content: "";
      display: block;
      height: $card-size;
      margin-bottom: 4px;
      margin-right: -3px;
      position: absolute;
      right: 0;
      width: $card-size;
      z-index: -1;
    }

    &.shared {
      > a::after {
        content: " (shared)";
      }
    }

    @include media($smallandtouch) {
      float: none;
      height: auto;
      width: 100%;

      > a {
        border: 0;
        display: block;
        position: static;
      }

      &.deck::after, &.shared::after {
        display: none;
      }
    }
  }
}

.exportshare {
  margin: 0;
  padding: 2em 0 0 0;

  a {
    color: #222;
    margin-right: .4em;
    text-decoration: none;
  }
}
