.cards, .decks, #bin {
  position: relative;

  li {
    display: block;
    float: left;
    height: $card-size;
    margin: 0 0 1em 0;
    -moz-perspective: 600px;
    overflow: hidden;
    position: relative;
    @include transition;
    -webkit-perspective: 600px;
    width: $card-size;

    &.reorder-target {
      margin: 0;
      @include transition;
      width: 1em;

      &.over {
        width: 3em;
      }
    }

    a.create-link {
      background: $red;
      bottom: 0;
      color: #fff;
      display: block;
      left: 0;
      padding: 1em;
      position: absolute;
      right: 0;
      top: 0;

      &:active {
        background: darken($red, 10%);
      }
    }

    .actions {
      background: rgba(0,0,0,.25);
      border: 1px solid rgba(255,255,255,.2);
      bottom: 0;
      @include box-sizing(border-box);
      left: 0;
      padding: 1em;
      position: absolute;
      right: 0;

      a.share, a.edit, a.delete {
        color: #fff;
        margin-right: .5em;
        opacity: .65;

        &:hover {
          opacity: 1;
        }
      }
    }
  }
}

.cards, #bin {
  @extend .animation-slide-entry;
  overflow: auto;

  li {
    .front, .back {
      background: $gray;
      bottom: 0;
      color: #fff;
      left: 0;
      padding: 1em;
      position: absolute;
      right: 0;
      top: 0;
      -webkit-backface-visibility: hidden;
      -webkit-transform-style: preserve-3d;
      -webkit-transition: all .25s ease-in-out;
      -moz-backface-visibility: hidden;
      -moz-transform-style: preserve-3d;
      -moz-transition: all .25s ease-in-out;

      &pre.text {
        font: inherit;
        line-height: inherit;
        margin: inherit;
      }

      &.image {
        padding: 0;

        img {
          @include transition;
          width: $card-size;
        }
      }

      .actions {
        display: none;
      }

      &:hover .actions {
        display: block;
      }
    }

    .front {
      @include transform(rotate3d(45,45,0,0deg));
      z-index: 1;
    }

    .back {
      background: lighten($gray, 40%);
      color: #000;
      @include transform(rotate3d(45,45,0,-180deg));
      z-index: 0;
    }

    &.flip .front {
      @include transform(rotate3d(45,45,0,180deg));
    }

    &.flip .back {
      z-index: 2;
      @include transform(rotate3d(45,45,0,0deg));
    }
  }

  &.shared li {
   &:hover .actions {
      display: none;
    }
  }
}

.decks {
  li {
    @extend .animation-fade-in;
    margin-right: 1em;
    overflow: visible;

    $t: 0.1s;
    $delay: $t;
    @for $child from 1 through 20 {
      &:nth-child(#{$child}) {
        @include animation-delay($delay);
      }
      $delay: $delay + $t;
    }

    &.create-deck {
      background: $red;
      border: 1px solid #fff;
      @include box-sizing(border-box);
      color: #fff;
      padding: 1em;

      textarea {
        @include box-sizing(border-box);
        height: $card-size * .63;
        margin: 0;
        width: 100%;
      }

      input {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        height: $card-size * .2;
        width: 100%;
      }
    }

    > a {
      background: $gray;
      border: 1px solid #fff;
      bottom: 0;
      @include box-sizing(border-box);
      color: #fff;
      left: 0;
      padding: 1em;
      position: absolute;
      right: 0;
      top: 0;
    }

    // stack effect
    &.deck::after, &.shared::after {
      background: lighten($gray, 20%);
      bottom: 0;
      content: "";
      display: block;
      height: $card-size;
      margin-bottom: 4px;
      margin-right: -3px;
      position: absolute;
      right: 0;
      width: $card-size;
      z-index: -1;
    }

    &.shared {
     > a::after {
      content: " (shared)";
     }
    }
  }

  .clearfix {
    margin-bottom: 2.5em;
  }
}

#bin {
  border: .15em dashed lighten($gray, 20%);
  @include box-sizing(border-box);
  clear: both;
  display: inline-block;
  margin-top: 1em;
  min-height: $card-size / 2;
  min-width: $card-size;
  padding: 1em 0 0 1em;
  @include transition;

  &.over {
    border: .15em solid yellow;
  }

  h2 {
    color: lighten($gray, 10%);
    font-size: 100%;
    font-weight: normal;
    margin-bottom: 1em;
  }

  li {
    height: $card-size / 1.5 !important;
    margin-right: 1em;
    width: $card-size / 1.5 !important;

    .front.image img, .back.image img {
      width: $card-size / 1.5 !important;
    }
  }
}

.new_card textarea, .edit_card textarea, .edit_deck textarea {
  background: $gray;
  border: none;
  @include box-sizing(border-box);
  color: #fff;
  float: left;
  height: $card-size;
  margin: 0 1em 1em 0;
  padding: 1em;
  width: $card-size;

  &#card_back {
    background: lighten($gray, 40%);
    color: #000;
  }

  &:focus {
    background: darken($gray, 10%);
    outline: none;
  }
}

.edit_deck .textarea {
  display: inline-block;
  float: left;
  margin: 0 1em 1em 0;
  overflow: visible;
  position: relative;
}

.edit_deck textarea {
  margin: 0;
  border: 1px solid #fff;
  float: none;
}

.edit_deck .textarea::after {
  background: lighten($gray, 20%);
  bottom: 0;
  content: "";
  display: block;
  height: $card-size;
  margin-bottom: 4px;
  margin-right: -3px;
  position: absolute;
  right: 0;
  width: $card-size;
  z-index: -1;
}

.export {
  margin: 0;
  padding: 2em 0 0 0;

  a {
    font-size: 80%;
  }
}
