@mixin auth-box {
  min-width: 300px;
  padding: 2rem;
  width: 40%;

  @include media($smallandtouch) {
    padding: 1rem;
  }
}

body.home {
  background: $off-white;
  font-family: $sans;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 2rem;
  margin: 0;

  .notice, .pitch {
    @include auth-box;
    background: none;
    color: #000;
    font-family: $mono;
    font-size: 1.5rem;
    font-weight: 800;
    margin: 10vh auto 0 auto;
    text-align: left;

    @include media($smallandtouch) {
      font-size: 1.2rem;
      margin-top: 5vh;
    }
  }

  .notice:before {
    content: 'error.';
    display: block;
  }

  .pitch {
    p {
      margin-top: 0;
    }

    @include media($smallandtouch) {
      margin-top: 8vh;
    }
  }

  &.flash {
    .pitch {
      display: none;
    }
  }

  h1.logo {
    color: $blue;
    font: 800 28vw/1em $sans;
    letter-spacing: 0px;
    margin: 0;
    position: fixed;
    text-transform: uppercase;
    top: 0;
    @include transition;
    @include user-select(none);
    width: 100%;
    z-index: -1;

    @include media($smallandtouch) {
      color: desaturate($blue, 100%) !important;
    }

    span {
      display: block;

      &:last-child {
        margin-right: .75vw;
        text-align: right;
      }
    }
  }

  .auth {
    margin-top: 15vh;

    @include media($smallandtouch) {
      margin-top: 5vh;
    }

    .form {
      @include auth-box;
      background: $off-white;
      margin: auto;

      @include media($smallandtouch) {
        background: none;
      }
    }

    h2 {
      margin: 0 0 1rem 0;
    }

    p {
      margin: 1rem 0 0 0;
    }

    input, .sign-in .reset {
      border: 0;
      border-radius: 2px;
      font-family: $mono;
      font-size: 1.1rem;
      font-weight: 100;
      letter-spacing: 1px;
      margin: 0 0 1rem 0;
      padding: .75rem 1rem;
      width: 100%;
    }

    input[type=email], input[type=password] {
      background: #eee;
    }

    input[type=submit] {
      margin-bottom: 0;
      text-align: left;
    }

    .sign-up {
      h2 {
        color: $pink;
      }

      input[type=submit] {
        background: $pink;
        border: 0;

        &:hover {
          background: lighten($pink, 5%);
        }

        &:focus, &:active {
          background: darken($pink, 10%);
        }
      }
    }

    .sign-in {
      form {
        position: relative;
      }

      .reset {
        color: #999;
        margin-top: -4.1rem;
        position: absolute;
        right: 0;
        width: auto;
      }
    }
  }
}
