body.home {
  @extend %animation-background-cycle;
  background: $melongreen;
  color: #fff;
  font-family: $sans;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 0;
  @include transition(15s);
  -webkit-font-smoothing: antialiased;

  h1.logo {
    color: darken(desaturate($melongreen, 10%), 10%);
    font: 800 28vw/1em $sans;
    margin: 0;
    position: fixed;
    text-transform: uppercase;
    top: 0;
    @include user-select(none);
    width: 100%;
    z-index: -1;

    span {
      display: block;

      &:last-child {
        margin-right: .75vw;
        text-align: right;
      }
    }
  }

  .auth {
    margin-top: 100vh;

    .form {
      margin: auto;
      min-width: 300px;
      padding: 2rem;
      width: 40%;
    }

    h2 {
      margin: 0 0 1rem 0;
    }

    p {
      margin: 1rem 0 0 0;
    }

    a {
      color: #fff;
    }

    input, .reset {
      border: 0;
      border-radius: 2px;
      font-family: $mono;
      font-size: 1.1rem;
      font-weight: 100;
      letter-spacing: 1px;
      margin: 0 0 1rem 0;
      padding: .75rem 1rem;
      width: 100%;
    }

    input[type=submit] {
      background: darken(desaturate($melongreen, 10%), 20%);
      margin-bottom: 0;
      text-align: left;

      &:hover {
        background: darken(desaturate($melongreen, 5%), 15%);
      }

      &:focus, &:active {
        background: darken(desaturate($melongreen, 15%), 25%);
        color: #fff;
      }
    }

    .sign-up {
      background: #fff;

      h2 {
        color: $blue;
      }

      input {
        border: 1px solid $blue;
      }

      input[type=submit] {
        background: $blue;
        border: 0;

        &:hover {
          background: lighten($blue, 5%);
        }

        &:focus, &:active {
          background: darken($blue, 10%);
        }
      }
    }

    .sign-in {
      form {
        position: relative;
      }

      .reset {
        color: $blue;
        margin-top: -3.75rem;
        position: absolute;
        right: 0;
        width: auto;
      }
    }
  }
}
