.shares-container {
  @extend %dropdown;

  .shares-list {
    list-style-type: none;
    padding: 0;

    li {
      line-height: 1.4em;
    }

    a {
      color: #222;
      text-decoration: none;
    }
  }

  form.new_share {
    @include media($smallandtouch) {
      input[type="text"], input[type="email"] {
        width: 100%;
        margin: 0 0 .5em 0;
      }

      input[type="submit"] {
        margin-bottom: 1em;
      }
    }
  }
}
