aside.sign-in {
  margin: auto;
  min-width: 250px;
  width: 25%;

  form.sign-in {
    margin-bottom: 1.5em;
  }

  p {
    font-size: 80%;
    margin-bottom: .5em;
  }

  @include media($smallandtouch) {
    width: 100%;

    form.sign-in {
      margin-bottom: 1em;

      input[type="submit"] {
        margin-bottom: 0;
      }
    }
  }
}
