aside.sign-in {
  margin: auto;
  width: 25%;

  form.sign-in {
    margin-bottom: 1.5em;

    input {
      @include box-sizing(border-box);
      display: block;
      margin-bottom: .5em;
      width: 100%;
    }

    input[type="submit"] {
      @include button(shiny, lighten($dark, 20%));
      font-size: 100%;
    }
  }

  p {
    font-size: 80%;
    margin-bottom: .5em;
  }
}
