<ul class="decks">
  <% @decks.each do |deck| %>
    <li><%= link_to deck.name, deck %></li>
  <% end %>
  <li class="create-deck">
    <%= render :partial => "form", :locals => { :deck => @deck } %>
  </li>
</ul>
