<ul class="decks">
  <% @decks.each do |deck| %>
    <li>
      <%= link_to deck.name, deck %>
      <div class="actions">
        <%= link_to 'edit', edit_deck_path(deck), :class => 'edit' %>
        <%= link_to 'delete', deck, :method => :delete, :class => 'delete' %>
      </div>
    </li>
  <% end %>
  <li class="create-deck">
    <%= render :partial => 'form', :locals => { :deck => @deck } %>
  </li>
</ul>
